extends ../layout

block content
  include ../modules/carousel
  .container.md30
    h2.text-center 热门萌宠
    .row.hotPet
      for item in hotDates
        .col-md-4.text-center
          a(href='#{item.hrefUrl}')
            img(src="#{item.imgSrc}" width="200" height="200")
          p.lead
            a(href='#{item.hrefUrl}') #{item.name}
          p.text-left #{item.descript}
      //-.col-md-4.text-center
        a(href='')
          img(src="http://placehold.it/200x200" width="200" height="200")
        p.lead 
          a(href="") 相关宠物名字
        p 相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述
      //-.col-md-4.text-center
        a(href='')
          img(src="http://placehold.it/200x200" width="200" height="200")
        p.lead
          a(href="") 相关宠物名字
        p 相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关述相关文字描述相关文字描述
      //-.col-md-4.text-center
        a(href='')
          img(src="http://placehold.it/200x200" width="200" height="200")
        p.lead
          a(href="") 相关宠物名字
        p 相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关文字描述相关文
    h3 么么哒
    .row.newsInfo
      .col-md-8
        .tabpanel
          ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
              a(href="#home" aria-controls="home" role="tab" data-toggle="tab") 最新消息
            li(role="presentation")
              a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") 汪星人
            li(role="presentation")
              a(href="#messages" aria-controls="messages" role="tab" data-toggle="tab") 喵星人
            li(role="presentation")
              a(href="#others" aria-controls="others" role="tab" data-toggle="tab") 其他
          .tab-content.pd20
            .tab-pane.active#home(role="tabpanel")
              dl
                dt
                  a(href="") 2014.3.9佘山至泰晤士小镇
                dd 2014年3月9日，本站开展了新年第一次骑行活动，由于占了一定的天时和人和，再加上有吸引力的旅游景点和活动项目，总体效果不错。
              dl
                dt
                  a(href="") 9.14环金仓湖游沙溪过浏河吹风邂逅最美女神莎
                dd 本着健康骑游的心态，9.14早上七点半，我们相约在美兰湖大道，莎莎貌似到的最早，不过她去了美兰湖地铁站在等着。
              dl
                dt
                  a(href="") 2014骑行者之家第一骑之佘山一日行
                dd. 
                  怎样练车，才会进步？样样都要分开练练车就是骑，这很简单。但是有没有觉得自己怎么骑好像都那样？似乎有变强，却好像又没有进步？浮浮沉沉的，越骑越挫折
            .tab-pane#profile(role="tabpanel")
              dl
                dt
                  a(href="") 2014.3.9佘山至泰晤士小镇
                dd 2014年3月9日，本站开展了新年第一次骑行活动，由于占了一定的天时和人和，再加上有吸引力的旅游景点和活动项目，总体效果不错。
              dl
                dt
                  a(href="") 9.14环金仓湖游沙溪过浏河吹风邂逅最美女神莎
                dd 本着健康骑游的心态，9.14早上七点半，我们相约在美兰湖大道，莎莎貌似到的最早，不过她去了美兰湖地铁站在等着。
              dl
                dt
                  a(href="") 2014骑行者之家第一骑之佘山一日行
                dd. 
                  怎样练车，才会进步？样样都要分开练练车就是骑，这很简单。但是有没有觉得自己怎么骑好像都那样？似乎有变强，却好像又没有进步？浮浮沉沉的，越骑越挫折
            .tab-pane#messages(role="tabpanel")
              dl
                dt
                  a(href="") 2014.3.9佘山至泰晤士小镇
                dd 2014年3月9日，本站开展了新年第一次骑行活动，由于占了一定的天时和人和，再加上有吸引力的旅游景点和活动项目，总体效果不错。
              dl
                dt
                  a(href="") 9.14环金仓湖游沙溪过浏河吹风邂逅最美女神莎
                dd 本着健康骑游的心态，9.14早上七点半，我们相约在美兰湖大道，莎莎貌似到的最早，不过她去了美兰湖地铁站在等着。
              dl
                dt
                  a(href="") 2014骑行者之家第一骑之佘山一日行
                dd. 
                  怎样练车，才会进步？样样都要分开练练车就是骑，这很简单。但是有没有觉得自己怎么骑好像都那样？似乎有变强，却好像又没有进步？浮浮沉沉的，越骑越挫折
            .tab-pane#others(role="tabpanel")
              dl
                dt
                  a(href="") 2014.3.9佘山至泰晤士小镇
                dd 2014年3月9日，本站开展了新年第一次骑行活动，由于占了一定的天时和人和，再加上有吸引力的旅游景点和活动项目，总体效果不错。
              dl
                dt
                  a(href="") 9.14环金仓湖游沙溪过浏河吹风邂逅最美女神莎
                dd 本着健康骑游的心态，9.14早上七点半，我们相约在美兰湖大道，莎莎貌似到的最早，不过她去了美兰湖地铁站在等着。
              dl
                dt
                  a(href="") 2014骑行者之家第一骑之佘山一日行
                dd. 
                  怎样练车，才会进步？样样都要分开练练车就是骑，这很简单。但是有没有觉得自己怎么骑好像都那样？似乎有变强，却好像又没有进步？浮浮沉沉的，越骑越挫折
      .col-md-4
        p.siderTitel
          | 宠物知识
          a(href="") 更多
        ol.siderList
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
          li 
            a(href="") Lorem ipsum dolor sit amet
  include ../modules/dialog